registry=https://npm.cardsetter.com
//npm.cardsetter.com/:_authToken="tfbnR91WjL0VWktFtd2kfWriR8Kh9z2FtMZOgGMqKK0="
//npm.cardsetter.com/:username=josh
//npm.cardsetter.com/:email=josh@robotsnacks.io
//npm.cardsetter.com/:always-auth=true